body {
    font-family: 'Segoe UI', sans-serif;
    background: #f6f3f3;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border: 1px solid   rgba(204, 0, 255, 0.3);
    background: white;
}

.logo {
    width: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.icons img {
    width: 20px;
    margin-left: 1rem;
    cursor: pointer;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    position: relative;
}

.circle-bg {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #f0ebeb;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 0;
}

.shoe-image img {
    width: 400px;
    position: relative;
    z-index: 1;
     object-fit: cover;
    transform: rotate(-10deg);
    transition: transform 0.5s ease;   
    transform: rotate(0deg) scale(1.05);
}

.product-info {
    max-width: 400px;
    margin-left: 2rem;
    z-index: 2;
}

.product-info h1 {
    font-size: 2rem;
    font-weight: 900;
}

.product-info h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.price {
    font-weight: bold;
    margin-top: -10px;
}

.description {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

.size-select {
    margin: 1rem 0;
    font-size: 14px;
}

select {
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 8px;
    background:  #1d1724;
    color: white;
    border: none;
    margin-top: 0.5rem;
    height: 2.5rem;
}

.add-to-cart {

    width: 120px;
    height: 30px;
    border: none;
    color: #ffffff;
    background-color: rgba(189, 14, 233, 0.811);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 6px;
    
   
}


.selected-more {

    align-items: center;
    gap: 0.5rem;
    background:  rgba(189, 14, 233, 0.811);
    color: white;
    padding: 0.7rem 1.2rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
   
}


.img_cart{
    margin-right: 8px;

}
/* Icônes à droite */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* Champ de recherche */
.search-box {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding-left: 0.5rem;
}
.small-text{
    background-color: #000000;
    border-radius: 8px;
    padding-left: 1rem;
    width: 120px;
    height: 25px;
    color: #ffffff;

}

.small-text-content{
    display: flex;
    gap: 1rem;
}


/* Icônes FontAwesome */
.search-box i,
.cart-icon {
    position: relative;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

@keyframes bump {
  0% { transform: scale(1); }
  10% { transform: scale(0.9); }
  30% { transform: scale(1.1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}
.content_button_option{

    display: flex;
    gap: 1rem;
}

.group_container_flex{
    display: flex;
    gap: 2rem;
}
.flex_content{
    width: 230px;
    height: 284px;
    background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
    border-radius: 20px;
    text-align: center;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    margin-top: 16rem;
}

.men_sneaker_container{
  width: 200px;
  height: 254px;
  background-color: #f0ebeb;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 15px;
  cursor: pointer;

}

.women_sneaker_container{
  width: 200px;
  height: 254px;
  background-color:#f0ebeb;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 15px;
  cursor: pointer;
    
}

.kids_sneaker_container{
  width: 200px;
  height: 254px;
  background-color:#f0ebeb;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 15px;
  cursor: pointer;
    
}


.flex_content:hover {
  
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
   transform: scale(0.98);
}

.circle-bg{
    box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}


.men_sneaker_container:hover {
 transform: scale(0.98);
  border-radius: 18px;
}


.women_sneaker_container:hover {
   transform: scale(0.98);
  border-radius: 18px;
}

.kids_sneaker_container:hover {
   transform: scale(0.98);
  border-radius: 18px;
}


.men_sneaker_container:hover {
 transform: scale(0.98);
  border-radius: 18px;
}

.add-to-cart-id{
    margin-top: 1%;
    width: 120px;
    height: 30px;
    border: none;
    color: #ffffff;
    background-color: rgba(189, 14, 233, 0.811);
    border-radius: 8px;
    cursor: pointer;

}
   /* footer */


footer{
    background-color: #1d1724;
    height: 300px;
}

a{
    text-decoration: none;
}

.icon-social{
    margin-top: 10rem;
    margin-left: 12px;
}

.container_footer{
    display: flex;
}


.footer_paragraph{
   color: #ffffff;
    margin-left: 12px;
    margin-top: 5rem;
    
}

.video_section{
  width: 140%;
  height: 10%;




}
/* hover comportement */


.shoe-image img:hover {
  
    transform: rotate(-10deg);
    transition: transform 0.5s ease;   
}


.add-to-cart:hover{
    background: #000000;
    color: white;
    
}

.add-to-cart-id:hover{
    background: #000000;
    color: white;
    
}

.nav-links a:hover{
    color: #9f53ff;
}

.group_container_footer{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
    
}

.footer_para{
    color: #ffffff;
    font-size: 1rem;
    
}


















